<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial de Tests</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"></head>
<body>
    <nav>
        <input type="checkbox" id="menu-toggle" class="menu-toggle">
        <label for="menu-toggle" class="menu-icon">&#9776;</label>
        <ul>
            <li><a href="{{ url_for('home') }}">Inicio</a></li>
            <li><a href="{{ url_for('index') }}">Subir PDF</a></li>
            <li><a href="{{ url_for('test') }}">Test</a></li>
            <li><a href="{{ url_for('historial') }}">Ver historial de tests</a></li>
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
        </ul>
    </nav>

<div class="container mt-4">
    <h1>Historial de Tests Realizados</h1>

    {% if historial_tests %}
    <h3>Tests realizados</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Total de Preguntas</th>
                <th>Aciertos</th>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for test in historial_tests %}
            <tr>
                <td>{{ test[2] }}</td> <!-- Fecha del test -->
                <td>{{ test[3] }}</td> <!-- Total de preguntas -->
                <td>{{ test[4] }}</td> <!-- Aciertos -->
                <td>{{ test[5] }}%</td> <!-- Nota -->
                <td>
                    <a href="{{ url_for('ver_detalle_test', test_result_id=test[0]) }}" class="btn btn-info btn-sm">Ver Detalle</a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No has realizado ningún test aún.</p>
    {% endif %}

    <h3>PDFs Subidos</h3>
    {% if historial_pdfs %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre del Archivo</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for pdf in historial_pdfs %}
            <tr>
                <td>{{ pdf[2] }}</td> <!-- Nombre del archivo -->
                <td>
                    <form action="{{ url_for('generar_test_desde_pdf', pdf_id=pdf[0]) }}" method="POST">
                        <button type="submit" class="btn btn-primary">Generar Test</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p>No has subido ningún PDF aún.</p>
    {% endif %}

</div>

</body>
</html>