<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg sticky-top shadow">
    <div class="container">
      <a class="navbar-brand fw-bold" href="{{ url_for('home') }}">TestApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item"><a class="nav-link" href="{{ url_for('home') }}"><i class="fas fa-home"></i> Inicio</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}"><i class="fas fa-upload"></i> Subir PDF</a></li>
          <li class="nav-item"><a class="nav-link {% if request.endpoint == 'test' %}active{% endif %}" href="{{ url_for('test') }}"><i class="fas fa-list"></i> Test</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('historial') }}"><i class="fas fa-history"></i> Historial</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('profile') }}"><i class="fas fa-user"></i> Perfil</a></li>
          <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a></li>
        </ul>
      </div>
    </div>
  </nav>